<!-- 
Purpose: Home page for a simple game called "Concentration". The purpose of this
game is to keep concentration as you are given a bunch of blocks/cards which contains numbers inside. When you click on them the number is revieled and 
if it matches the initial block that you clicked, then both the blocks remain open. The score of the user depends on the guesses he makes which is displayed to him. Successful completion of a level will provide the user with a new set of a
much harder level of the game.

Student Name: <Md. Tanvir Islam>

Student Number: <100969657>

Command to execute: N/A  
-->

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8"/>
	<title>Memory Game!</title>
	<link rel="stylesheet" type="text/css" href="static/concentration.css">
	<script type = "text/javascript" src = "static/jquery-1.9.0.js"></script>
	<script type="text/javascript" src="static/concentration.js"></script>
	<div class = "div1"><h1>Memory Game</h1></div>
</head>
<body>
	<div class = "content">
		<h2 id = "title"></h2>
		<h2 id = "level"></h2>
		<h2 id = "tries"></h2>
		<table id="board"></table>
	</div>
</body>
</html>